[Unit]
Description = Wiki2035 gateway %I

[Service]
Type=simple
ExecStart=/path/to/interpreter/python3 /path/to/script/%i.py /path/to/config/config.ini

User=sizam
Group=sizam

[Install]
WantedBy=multi-user.target
